@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */


.bceffect{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 1903px;
    height: 100vh;
    background: linear-gradient(-45deg, #ff9f00, #ff9f00, ivory, #fff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #000;
  position: offset;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #ff0080e7;
  font-size: xxx-large;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    60% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: #343F4F; */
  background: #ffffff00;
  /* border-left: 2px solid #FC6D6D; */
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}