@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* font-family: 'Roboto Slab', serif; */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 3px;
  }

  .container1{
    max-width: 1300px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo img{
    width: 65px;
  }

  .navbar .logo a{
    color: red;
    font-size: 35px;
    font-weight: 800;
}
  .navbar-menu a{
    color: #000;
    font-size: 20px;
    font-weight: 100;
    margin-left: 35px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;

  }
  .navbar-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 6px;
    background-color: #000;
    transition: width .3s;
  }
  .navbar-menu a:hover::after{
    width: 100%;
  }
  .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 4rem;
    font-weight: 100;
    width: 100%;
    text-align: center;
  }








  .navbar button
{
width: 180px;
height: 55px;
border-radius: 40px;
margin-left: 20px;

/* margin-right: 100px; */

color: #fff;
font-weight: bolder;
background-color: #0160e7;
font-size: 18px;
border: 1px solid #0160e7;
cursor: pointer;
box-shadow: 12px 12px 20px 0 rgb(1 126 231 / 30%);
transition: 0.5s;
position: relative;
left: 600px;
overflow: hidden;
padding: 1px;
}
.navbar button:before
{
content: '';
position: relative;
width: 70%;
height: 55px;
top: 0;
transition: .8s;
left: -150%;
bottom: 0;
background: linear-gradient(to left, rgb(255 255 255 / 25%), transparent);
}
.navbar button:hover
{
box-shadow: none;
}
.navbar button:hover:before
{
left: 70%;
}