.social{
    width: 1903px;
    height: 50px;
    background-color: aliceblue;
}

.social ul {
    display: flex;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
  }

.social  ul li {
    list-style: none;
  }
  
  .social ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    z-index: 1;
  }
  
  .social ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .social ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .social ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .social ul li a:hover:before {
    top: 0;
  }
  
  .social ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .social ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .social  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .social ul li:nth-child(4) a:before {
    background: #bc2a8d;
  }